<!DOCTYPE html>
<html lang="en">
<head>
  <title>Write A Comment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

   {% if err %}
   <hr>
   <h3> {{err}} </h3>
   <hr>
   {% endif %}

  <hr>
<div class="container">
  <h2>What would you like to say?</h2>
  <form role="form" method="POST">
    <div class="form-group">
      <label for="body">Comment:</label>
      <textarea name="body" class="form-control" rows="5" id="body" placeholder="Write your comment"></textarea>
    </div>
    <input type="submit" name="Post" class="btn btn-default" value="Post"></input>
    <input type="submit" name="Cancel" class="btn btn-default" value="Cancel"></input>
  </form>
</div>

</body>
</html>
