<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Create an account</h2>
  {% if err %}
  <h3> {{err}} </h3>
  {% endif %}
  <form role="form" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="pwdagn">Confirm Password:</label>
      <input type="password" name="password_again" class="form-control" id="pwdagn" placeholder="Retype password">
    </div>
    <button type="submit" name="button" class="btn btn-default">Create</button>
    <button type="submit" name="button" class="btn btn-default">Cancel</button>
  </form>
</div>

</body>
</html>
