<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bloginator R3S</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Bloginator</h1>
    {% if loggedin %}
    <h2> Hi there, {{ uname }} </h2>
    <form method = "POST">
      <button  name = "button" type="submit" class="btn" value="write_post"> Write Post</button>
      <button  name = "button" type="submit" class="btn" value="logout"> Log Out</button>
    </form>
    {% else %}
    <form method = "POST">
      <button  name = "button" type="submit" class="btn" value="login"> Log In </button>
      <button  name = "button" type="submit" class="btn" value="create_account"> Create Account </button>
    </form>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-sm-4">
    {% for entry in entries %}
    <h3> {{entry[2]}} </h3>
    <h4> by {{entry[1]}} </h4>
    <p> 
        {{entry[0]}}
	<br>
	<form method = "POST">
	  <button name = "button" type="submit" class="btn" value="comment">Comment</button>
	</form>
    </p>
    <p>
       {% for comment in comments %}
       {% if comment[1] == entry[2] %}
       {{comment[2]}}:{{comment[0]}}
       <br>
       {% endif %}
       {% endfor %}
    </p>
    {% endfor %}
    </div>
  </div>

{{button}}

</body>
</html>
